header {
    background-color: #12232E;
    color: #EEFBFB;
    padding: 20px;
    text-align: center;
}

nav {
    
}

.centered-card-section {
    text-align: center;
}

.centered-card {
    
}

.contact-us-section {
    text-align: center;
}

.contact-us-box {
    
}

.footer-content {
    max-width: 800px;
    margin: 0 auto;
}
