body {
    font-family: 'Darker Grotesque'; 
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Slab';
}

header {
    background-color: #12232E;
    color: #EEFBFB;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 30px;
}

nav {
    display: flex;
    justify-content: center;
}

nav a {
    display: inline-block;
    padding: 10px 20px;
    color: #EEFBFB;
    text-decoration: none;
}

nav a:hover {
    background-color: #4DA8DA;
}

.header-content {
    margin-bottom: auto;
}

main {
    padding: 30px;
    max-width: 1200px;
    margin: 0 auto;
}

.hero-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.hero-image {
    flex: 1;
    text-align: center;
}

.hero-image img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    margin: 0 autho;
    display: inline-block;
}

.hero-text {
    flex: 1;
    text-align: right;
}

.centered-card-section {
    text-align: center;
}

.contact-us-section {
    text-align: center;
}

.footer-content {
    max-width: 800px;
    margin: 0 auto;
}

.menu-icon {
    display: none;
    cursor: pointer;
    order: -1;
}

@media only screen and (max-width: 700px) {
    .gallery-img {
        height: auto;
    }

    .menu-icon {
        display: block;
    }

    nav {
        display: none;
    }

    nav.active {
        display: flex; 
        flex-direction: column;
        background-color: #12232E;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        z-index: 999;
    }

    nav.active a {
        color: #EEFBFB;
        padding: 15px 20px;
        text-decoration: none;
        display: block;
    }
}

#menu-toggle {
    display: none; /* Hide the checkbox */
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 20px;
}

.sidebar {
    padding: 20px;
    background-color: #f0f0f0;
}

.image-gallery {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

.gallery-img {
    width: 100%;
    height: auto;
}

.gallery-img:hover {
    transform: scale(1.05);
}

.form-card {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    width: 80%;
    max-width: 600px;
}