header {
    padding: 30px; /* Increased padding for larger header */
}

nav {
    
}

/* Main */
main {
    padding: 30px;
}

/* Hero Section */
.hero-section {
    
}

.hero-image {
    
}

.hero-text {
    
}

.weather-card-section {
    
}

.weather-card {
    
}

.event-calendar-section {
    
}

.event-calendar {
    
}

.card-placement-section {
    
}

.card-placement {
    
}

.card {
    
}

.centered-box-section {
    
}

.centered-box {
    
}

footer {
    padding: 30px;
}

.contact-info {
    
}
