/* base.css */

/* Color scheme: 
#007872 - nav & footer
#014945 - hover
#013835
#012624 - body text
#06513a
*/

body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6;
  background-color: #fff;
  color: #012624;
}

.container {
  max-width: 1200px; 
  margin: 0 auto;
  padding: 0 20px;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  background-color: #fff;
}

header img {
  width: 100px;
  border-radius: 50%;
  margin-right: 10px;
}

header span {
  font-size: 1.5rem;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 10px 0;
  background-color: #007872;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
}

nav ul li a:hover {
  background-color: #014945;
}

main {
  padding: 20px 0;
  max-width: 800px; /* Limit main content width */
  margin: 0 auto; /* Center main content horizontally */
}

h1 {
  text-align: center;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Cards adapt to available space */
  gap: 20px;
}

.card {
  background-color: #007872;
  border-radius: 5px;
  padding: 20px;
}

.card h2 {
  color: #fff;
  margin-bottom: 10px;
}

main .card a {
  color: #fff; /* Change link color for learning activities */
}

footer {
  text-align: center;
  padding: 20px 0;
  background-color: #007872;
  color: #fff;
}

footer p {
  margin-bottom: 10px;
}

footer p:last-child {
  margin-bottom: 0;
}

/* Custom CSS for Facebook icon */
footer img {
  width: 30px;
  height: auto;
  margin-top: 5px;
}

/* Dark mode styles */
.dark-mode {
  background-color: #222;
  color: #fff;
}

.dark-mode nav ul li a {
  color: #fff;
}

.dark-mode header {
  background-color: #222;
}

/* Dark mode button */
.dark-mode .dark-mode-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  background-color: #014945;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
}

.dark-mode .dark-mode-btn:hover {
  background-color: #013835;
}

header .dark-mode-btn {
  margin-left: auto;
  margin-right: auto;
}

nav .menu-btn {
  color: #fff; /* Text color */
  background-color: #007872; /* Background color */
  border: none;
  padding: 10px;
  border-radius: 5px;
}

/* Hide the hamburger menu button by default for larger screens */
@media (min-width: 768px) {
  nav .menu-btn {
    display: none;
  }
}
