@media (min-width: 768px) {
  .card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Display cards in two columns */
    gap: 20px;
  }

  nav ul {
    flex-direction: row; /* Display navigation links horizontally */
  }

  nav ul li {
    margin: 0 10px;
  }

  nav ul li a {
    padding: 10px 20px;
  } 

  header img {
    width: 50px; /* Decrease image size for larger views */
  }

  header span {
    font-size: 1.8rem; /* Increase font size for larger views */
  }

  main {
    max-width: 900px; /* Increase maximum width for main content */
    margin: 0 auto; /* Center main content horizontally */
  }

  .card {
    background-color: #007872; /* Apply background color */
    border-radius: 5px;
    padding: 20px;
  }

  .card h2 {
    color: #fff;
    margin-bottom: 10px;
  }

  .card ul {
    list-style-type: none; /* Remove list bullets */
    padding: 0;
    margin: 0;
    text-align: left; /* Align list items to the left */
  }

  main {
    padding: 20px 0;
    max-width: 800px;
    margin: 0 auto;
    text-align: center; /* Center align main content */
  }
  
  iframe {
    max-width: 100%;
    height: 400px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
}

